<div class="big-card-container">
  <div class="big-card-picture">
    <img
    src="https://media.istockphoto.com/id/1409329028/pt/vetorial/no-picture-available-placeholder-thumbnail-icon-illustration-design.jpg?s=2048x2048&w=is&k=20&c=99fISV8MCqK-5ZphBqT-W50eTgq5UMBu0vteQ-rE-Do= "
    alt="Foto qualquer"
    height="320px"
    >
  </div>
  <div class="big-card-title">
    <a href="#"><h1>A atualidade da paternidade</h1></a>
  </div>
  <div class="big-card-description">
    <p>
      O que pensam os xovens a respeito da paternidade e sua missao nos dias atuais
    </p>
  </div>
</div>
