:root{
  --primary-color: hsl(110, 12%, 37%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(6,6,6);
  background: var(--primary-color);
  color: white;
  font-family: 'Poppins', sans-serif;
}

a{
  text-decoration: none;
}
